<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="tachiyomi.extension" />

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="${appName}"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="tachiyomi.extension.class"
            android:value="${extClass}" />
        <meta-data
            android:name="tachiyomi.extension.nsfw"
            android:value="${nsfw}" />

    </application>

</manifest>
